<!DOCTYPE html>
<!--
	Soul by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<html>
    <head>
        <title>Soul Free HTML5 Responsive Template | Template Stock</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">


        <!-- Pace.js -->
        <script src="static/pace.js" type="text/javascript"> </script>

        <!-- Foundations 5 Stylesheet-->
        <link href="static/foundation.css" type="text/css" rel="stylesheet" media="screen" />

        <!-- Normalize-->
        <link href="static/normalize.css" type="text/css" rel="stylesheet" media="screen" />

        <!-- Source Sans Pro Google Web Font-->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic&subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css'>

        <!-- Font Awesome Web Font Icons-->
        <link href="static/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen" />

        <!-- General Stylesheet-->
        <link href="static/style.css" type="text/css" rel="stylesheet" media="screen" />

        <!-- jQuery Library 1.11.0 -->
        <script type="text/javascript" src="js/jquery-1.11.0.min.js"> </script>

        <!-- Modernizr v2.7.1 -->
        <script src="static/modernizr.js" type="text/javascript"> </script>

        <!-- Foundations 5 -->
        <script src="static/foundation.min.js" type="text/javascript"> </script>

        <!-- Caroufredsel jQuery Plugin -->
        <script src="static/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"> </script>

        <!-- Isotope jQuery Plugin -->
        <script src="static/jquery.isotope.js" type="text/javascript"> </script>

        <!-- Appear Plugin -->
        <script src="static/appear.js" type="text/javascript"> </script>

        <!-- General Initialization -->
        <script src="static/general.js" type="text/javascript"> </script>

        <!-- Other icons -->
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>

        <!-- draw digit -->
        <script>
        draw = function(pred){
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        canvas.width = 28;
        canvas.height = 28;
        var imgData = ctx.getImageData(0, 0, 28, 28);
        var data = imgData.data;
        for (var i = 0; i < data.length; i += 4) {
            data[i + 3] = pred[i/4]*255;
        }
        ctx.putImageData(imgData, 0, 0);
        var image = new Image();
        image.src = canvas.toDataURL();
        image.classList.add("num");
        document.getElementById("here").appendChild(image);}
    </script>


    </head>

    <body id="home">

       <!-- Back to Top Button -->
       <a href="#home" class="scroll backtotop">
           <i class="fa fa-angle-up"> </i>
       </a>

       <!-- Start of About -->
       <section class="about" id="about" style="padding-right: 15%;padding-left: 15%;padding-top: 50px;padding-bottom: 0px;">
           <div class="row">

               <div class="large-8 large-centered column">
                   <div class="title">
                       <h1>Let's play with MNIST</h1>
                       <span>...</span>
                       <p>This application is based on a Convolutional Variational autoencoder trained on the MNIST dataset of handwritten digits.</p>
                   </div>
               </div>

               <div class="large-4 large-centered column start">
                   <div class="imageholder" style="padding-top:10px">
                       <img src="static/logo.png" style="display: block; margin-left: auto; margin-right: auto; padding-bottom:10px">
                   </div>
               </div>

               <div class="large-8 medium-9 large-uncentered medium-centered small-centered column">
		   <div class="description" style="padding-top:5%">
                       <p style="margin-bottom: 0px;">
			  It can be used in two ways:<br>
			  - you can select the digit you want to be generated by the Variational autoencoder;<br>
                          - you can pick-up a random point of the latent space and look at what digit appears.<br><br>
		       </p>
                   </div>
		   <div class="description" id="here">
               <script>
                    window.onload = draw({{ result }});
               </script>
           </div>
               </div>

       <!-- Start of Footer -->
       <footer>
           <div class="row">
               <div class="large-8 medium-12 column">
                   <ul class="social fa-ul">
                        <li><a href="#"><i class="fa fa-li fa-github"> </i> <span>PROJECT REPO<span></a></li>
                        <li><a href="#"><i class="far fa-hand-point-right"> </i> <span>BLOG POST<span></a></li>
                   </ul>
               </div>
               <div class="large-2 medium-12 column">
                   <div class="copyright" style="padding-right:10px;">
                       © Riccardo Cantini.
                   </div>
               </div>
           </div>
       </footer>
       <!-- End of Footer -->
    </body>
</html>
