<!DOCTYPE html>

<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>Movies Reviews Classifier</title>
    <link href="{{ url_for('static', filename='spam-favicon.ico') }}" rel="shortcut icon">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/5f3f547070.js"></script>
</head>

<body>

    <style>

        .num {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            display:inline-block;
            width: 100px;
            height:100px;
            margin-left: auto;
            margin-right: auto;
        }

        .float {
            width: 30%;
            float: left;
        }

        p{
            width: 50%;
            float: right;
        }
        form {
            width: 50%;
            float: right;
        }

    </style>

    <script>
        draw = function(pred){
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        canvas.width = 28;
        canvas.height = 28;
        var imgData = ctx.getImageData(0, 0, 28, 28);
        var data = imgData.data;
        for (var i = 0; i < data.length; i += 4) {
            data[i + 3] = pred[i/4]*255;
        }
        ctx.putImageData(imgData, 0, 0);
        var image = new Image();
        image.src = canvas.toDataURL();
        image.classList.add("num");
        document.body.appendChild(image);}
    </script>

<!-- Website Title -->
<div class="container">
    <h2 class="container-heading"><span>Let's play with MNIST</span></h2>
    <div class="description">
        <p>This application is based on a Convolutional Variational autoencoder trained on MNIST dataset of handwritten
            digits.
        </p>
            <img class="float" alt="logo" src="static/mnist_logo.png">
        <p> It can be used... </p>
    </div>
</div>

<script>
    window.onload = draw({{ result }});
</script>

<!-- Footer -->
<div class="footer">
            <div class="contact">
                <a target="_blank" href="https://github.com/JatinSadhwani02/Movies_Review_Classification_NLP"><i class="fab fa-github fa-lg contact-icon" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/jatin-sadhwani-404531152/"><i class="fas fa-user-tie fa-lg contact-icon" aria-hidden="true"></i></a>
            </div>
            <p class="footer-description">© 2021 Riccardo Cantini</p>
</div>

</body>
</html>
