<!DOCTYPE html>
<!--
	Soul by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<html>
    <head>
        <title>CVAE app: Let's play with MNIST</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

        <!-- Drawn digit style -->
        <style>
        .num {
            border: 5px solid #000;
            border-radius: 8px;
            padding: 5px;
            display:inline-block;
            width: 60px;
            height:60px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            margin-top: 25px;
        }
        </style>

        <!-- Foundations 5 Stylesheet-->
        <link href="static/foundation.css" type="text/css" rel="stylesheet" media="screen" />

        <!-- Normalize-->
        <link href="static/normalize.css" type="text/css" rel="stylesheet" media="screen" />

        <!-- Source Sans Pro Google Web Font-->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic&subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css'>

	<!-- Other icons -->
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
	    
        <!-- General Stylesheet-->
        <link href="static/style.css" type="text/css" rel="stylesheet" media="screen" />
        

        <!-- draw digit -->
        <script>
        draw = function(pred){
        if (typeof pred === 'undefined'){
            pred = Array.apply(null, Array(28*28)).map(Number.prototype.valueOf,0);
        }
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        canvas.width = 28;
        canvas.height = 28;
        var imgData = ctx.getImageData(0, 0, 28, 28);
        var data = imgData.data;
        for (var i = 0; i < data.length; i += 4) {
            data[i + 3] = pred[i/4]*255;
        }
        ctx.putImageData(imgData, 0, 0);
        var image = new Image();
        image.src = canvas.toDataURL();
        image.classList.add("num");
        document.getElementById("num_container").appendChild(image);}
    </script>

    </head>

    <body id="home">

       <!-- Back to Top Button -->
       <a href="#home" class="scroll backtotop">
           <i class="fa fa-angle-up"> </i>
       </a>

       <!-- Start of panel -->
       <section class="large-5 large-centered column" id="panel" style="padding-right: 0%;padding-left: 0%;padding-top: 10px;padding-bottom: 0px;">
           <div class="row">

               <div class="large-5 large-centered column">
                   <div class="title" style="padding-bottom: 15px;">
                       <h1>Let's play with MNIST</h1>
                       <span>...</span>
                       <p>This application uses a CNN-based Variational autoencoder trained on the MNIST dataset of handwritten digits.</p>
                   </div>
               </div>

               <div class="large-4 large-centered column start">
                   <div class="imageholder" style="padding-top:15px">
                       <img src="static/logo.jpg" style="display: block; margin-left: auto; margin-right: auto; padding-bottom:10px">
                   </div>
               </div>

               <div class="large-8 medium-9 large-uncentered medium-centered small-centered column">
		   <div class="description" style="padding-top:5%">
                       <p style="margin-bottom: 0px; line-height: 1.6;}">
			  It can be used in two ways:<br>
			  - <b>DRAW</b>: select the digit to be generated by the variational autoencoder.<br>
                          - <b>GUESS</b>: sample a random point from 2D latent space by specifying its coordinates (z0, z1) and see which digit appears.<br>
		       </p>
                   </div>
		   <div class="description">
    		<form action="/" method="POST" style="float:left; padding:25px 5% 20px 7%">
        		<textarea class="message-box" name="n" placeholder="0,...,9" rows="1" cols="1" style="margin-left: 0%;margin-bottom: 5px;width: 50px;"></textarea><br>
        		<input type="submit" value="Draw">
        	</form>
		    <form action="/" method="POST" style="float:left; padding:25px 15% 20px 1%">
        		<textarea class="message-box" name="z0" placeholder="z0" rows="1" cols="1" style="margin-bottom:5px;width: 50px;"></textarea>
                <textarea class="message-box" name="z1" placeholder="z1" rows="1" cols="1" style="margin-bottom:5px;width: 50px;"></textarea><br>
        		<input type="submit" value="Guess" style="margin-left:20%">
        	</form>
               <div class="description" id="num_container">
                   <script>
                    window.onload = draw({{ result }});
                   </script>
               </div>
           </div>
               </div>

       <!-- Start of Footer -->
       <footer>
           <div class="row" style="margin:0px;">
               <div class="large-8 medium-12 column">
                   <ul class="social fa-ul">
                        <li><a href="https://github.com/rcantini/rcantini-CNN-VAE-MNIST/"><i class="fa fa-li fa-github"> </i> <span>PROJECT REPO<span></a></li>
                        <li><a href="https://riccardo-cantini.netlify.app/post/cnn-vae-mnist/"><i class="far fa-li fa-hand-point-right"> </i> <span>BLOG POST<span></a></li>
                   </ul>
               </div>
               <div class="large-3 medium-12 column">
                   <div class="copyright">
                       © 2021 Riccardo Cantini &nbsp; &nbsp;
                   </div>
               </div>
           </div>
       </footer>
       <!-- End of Footer -->
    </body>
</html>
